h1{
  color:Black;
  font-size: 40pt;
}
body{
  background-image: url(muskan.jpeg);
  background-repeat: no-repeat;
  background-size: cover;
}
h3{
  font-size: 25pt;
}
a{
  background: white;
  color:Black;
  font-size: 20pt;
}h1{
  color:Black;
  font-size: 40pt;
}
body{
  background-image: url(muskan.jpeg);
  background-repeat: no-repeat;
  background-size: cover;
}
h3{
  font-size: 25pt;
}
a{
  background: white;
  color:Black;
  font-size: 20pt;
}
